@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-7xl
	}

	a {
		@apply relative after:transition-all after:content-[''] after:absolute after:h-[1px] after:w-[0%] after:left-0 after:bottom-[-5px] hover:after:w-[100%] hover:outline-none no-underline after:bg-inherit
	}

	.pinkUnderline {
		@apply after:bg-[#f9cdcd]
	}
	
	.blackUnderline {
		@apply after:bg-[#000]
	}
}

:root {
	font-family: sans-serif;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

pre {
	font-size: 16px;
	font-family: sans-serif;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	overflow-x: auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}