@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply tracking-wide
	}
	h1 {
		@apply text-7xl transition-all
	}

	a {
		@apply relative after:transition-all after:content-[''] after:absolute after:h-[1px] after:w-[0%] after:left-0 after:bottom-[-5px] hover:after:w-[100%] hover:outline-none no-underline after:bg-inherit
	}
}

:root {
	font-family: sans-serif;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.filterButton::before, .filterButtonPink::before {
	position: absolute;
    top: 0;
    left: -35px;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    content: "";
	border: 1px solid black;
}

.filterButton::after, .filterButtonPink::after {
	position: absolute;
    top: 5px;
    left: -1.80rem;
    border-radius: 50%;
    width: 0rem;
    height: 0rem;
    content: "";
	background-color: black;
	transition: ease-in-out .2s;
}

.filterButton:hover::after, .filterButtonPink:hover::after {
    width: .7rem;
    height: .7rem;
}

.filterButton:focus::after, .filterButtonPink:focus::after {
    width: 1.4rem;
    height: 1.4rem;
	top: 0rem;
    left: -2.15rem;
}

.filterButtonPink::before {
	border: 1px solid #f9cdcd;
}

.filterButtonPink::after {
	background-color: #f9cdcd;
}